@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

* {
  font-family: Verdana, sans-serif;
  font-size: 13pt;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(214, 214, 214);
  background-image: url(https://i.pinimg.com/564x/e8/f2/17/e8f217fd7f7f7e9612075f17c965c1a9.jpg);
  background-size: 400px, 400px;
}

.title {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  letter-spacing: 1px;
  color: rgb(3, 29, 19);
}

.wrapper {
  height: 95vh;
}

.chat {
  background: rgb(255, 255, 255);
  box-shadow: 20px 20px 0px rgb(68, 71, 4);
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  border-radius: 20px;
}

.messages {
  flex: 10 auto;
}

.messages div {
  max-width: 60%;
  width: fit-content;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  white-space: pre-line;
}

.messages div a {
  color: white;
}

.messages div a:hover {
  color: rgb(50, 61, 32);
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  background: rgb(50, 61, 32);
  color: white;
}

.messages .self {
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  background: white;
  border: 1px solid rgb(50, 61, 32);
  color: rgb(5, 9, 26);
}

.actions {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  bottom: -1px;
  padding: 10px 0px 20px;
  background: rgb(255, 255, 255);
}

.actions input {
  height: 30px; 
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-left: 0px;
}

input:focus {
  border-bottom: 2px solid rgb(87, 87, 36);
}

@media all and (min-width: 720px) {
  .wrapper {
    width: 40vw;
    height: 80vh;
    margin: 0 auto 2.5vh;
  }
}

@media all and (min-width: 1280px) {
  .wrapper {
    width: 45vw;
  }
  .title {
    height: 10vh;
  }
}


